<template>
  <div class="ml-14">
    <p class="uppercase text-gray-500 md:mb-6">{{ title }}</p>
    <ul class="list-reset mb-6">
      <slot />
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "FooterColumn",
  props: {
    title: {
      type: String,
      required: true,
    },
  },
});
</script>
