<template>
  <li
    class="mt-2 inline-block mr-2 md:block md:mr-0 capitalize-first text-gray-800"
  >
    <slot />
  </li>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "FooterColumnItem",
});
</script>
