<template>
  <img :src="icon" v-bind="$attrs" />
</template>
<script>
import { defineComponent } from "vue";
import icon from "@/assets/icons/printer-svgrepo-com.svg";
export default defineComponent({
  setup() {
    return {
      icon,
    };
  },
});
</script>
