<template>
  <ButtonComponent
    type="button"
    :class="{
      '-ml-1': true,
    }"
    name="addUser"
    :onClickEvent="openModal"
  />
  <Form @submit="onSubmit" v-slot="{ isSubmitting }">
    <Modal v-model="modalIsOpen">
      <template #body>
        <EmailInput
          label="email"
          name="email"
          type="email"
          :rules="['required']" />
        <PasswordInput :rules="['required']" label="password" name="password" />
        <PasswordInput
          :rules="['sameAs:password', 'required']"
          label="repeatPassword"
          name="repeatPassword"
          type="password"
      /></template>
      <template #title>{{ $t("form.field.addUser") }}</template>
      <template #footer>
        <ButtonComponent
          type="submit"
          color-type="success"
          :disabled="isSubmitting"
          name="save"
        />
        <ButtonComponent
          color-type="danger"
          type="button"
          name="close"
          @click="modalIsOpen = false"
        />
      </template>
    </Modal>
  </Form>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";

import { useRouter } from "vue-router";
import { Routes } from "@/router";
import { useUserStore } from "@/stores/UserStore";
import Modal from "@/components/elements/Modal.vue";
import ButtonComponent from "@/components/inputs/ButtonComponent.vue";
import PasswordInput from "@/components/inputs/PasswordInput.vue";
import { Form } from "vee-validate";
import EmailInput from "@/components/inputs/EmailInput.vue";
import { errorToast, successToast } from "@/plugins/Toast";
import { i18nGlobal } from "@/i18n";
import type NewUserDto from "easy-visa-api/dto/NewUserDto";

export default defineComponent({
  name: "AddUser",
  components: {
    Modal,
    ButtonComponent,
    PasswordInput,
    Form,
    EmailInput,
  },
  emits: ["submit"],
  setup(props, { emit }) {
    const router = useRouter();
    const userStore = useUserStore();
    const modalIsOpen = ref<boolean>(false);
    const openModal = () => {
      modalIsOpen.value = true;
    };
    const onSubmit = async (values: NewUserDto) => {
      try {
        const newUser = await userStore.addClient(values);
        if (newUser) {
          successToast(i18nGlobal.t("form.message.success.userAdded"));
          modalIsOpen.value = false;
        }
        emit("submit", newUser);
      } catch (e) {
        errorToast(e.message);
      }
    };
    return {
      openModal,
      modalIsOpen,
      router,
      onSubmit,
      Routes,
    };
  },
});
</script>
