<template>
  <AddUser @submit="fetchClients" />
  <Table :table-configurator="tableConfig" />
</template>
<script lang="ts">
import { defineComponent } from "vue";

import { useRouter } from "vue-router";
import { Routes } from "@/router";
import { useUserStore } from "@/stores/UserStore";
import type UserDto from "easy-visa-api/dto/UserDto";

import Table from "@/components/elements/Table.vue";
import TableConfigurator from "@/types/TableConfigurator";
import EmailValue from "@/components/elements/EmailValue.vue";
import ButtonComponent from "@/components/inputs/ButtonComponent.vue";
import { i18nGlobal } from "@/i18n";
import AddUser from "@/views/Users/AddUser.vue";
import { get } from "lodash";

export default defineComponent({
  name: "UsersList",
  components: { Table, AddUser },
  setup() {
    const router = useRouter();
    const userStore = useUserStore();
    const tableConfig = new TableConfigurator<UserDto>();
    const i18n = i18nGlobal;
    tableConfig.primaryKey = "id";
    tableConfig.fields.value = {
      id: {
        label: "ID",
      },
      email: {
        label: i18n.t("form.field.email"),
        displayComponent: {
          component: EmailValue,
          attr: {},
        },
      },
    };
    tableConfig.actions.value = [
      {
        displayComponent: {
          component: ButtonComponent,
          click: (row) => {
            router.push({
              name: Routes.forms,
              params: { id: get(row, "id", "").toString() },
            });
          },
          attr: {
            label: i18n.t("form.field.fillForm"),
          },
        },
      },
    ];
    const fetchClients = () => {
      userStore.getMyUsers().then((items) => {
        tableConfig.items.value = items;
      });
    };
    fetchClients();
    userStore.getMyUsers().then((items) => {
      tableConfig.items.value = items;
    });
    return {
      fetchClients,
      tableConfig,
      router,
      Routes,
    };
  },
});
</script>
