<template>
  <h3 class="text-2xl font-bold text-center capitalize">
    {{ $t("enums.formTypes.application") }}
  </h3>
  <form @submit.prevent="onSubmit">
    <TextInput name="id" type="hidden" />
    <SelectInput label="formType" name="formType" :options="formType" />
    <span class="grid lg:grid-cols-4">
      <TextInput
        label="firstName"
        name="baseData.firstName"
        :rules="['required']"
      />
      <TextInput
        label="surname"
        name="baseData.surname"
        :rules="['required']"
      />
      <TextInput label="otherNames" name="baseData.otherNames" />
      <TextInput label="surnameAtBirth" name="baseData.surnameAtBirth" />
    </span>
    <span class="grid lg:grid-cols-4">
      <SelectInput
        label="sex"
        name="sex"
        :options="sexTypes"
        :rules="['required']"
      />
      <SelectInput
        label="maritalStatus"
        name="maritalStatus"
        :options="maritalStatus"
        :rules="['required']"
      />
      <SelectInput
        label="currentNationally"
        name="baseData.currentNationally"
        :options="countryCodes"
        :rules="['required']"
      />
    </span>
    <span class="grid lg:grid-cols-4">
      <SelectInput
        label="countryOfBird"
        name="baseData.countryOfBird"
        :options="countryCodes"
        :rules="['required']"
      />
      <DatePickerInput
        label="dateOfBirth"
        name="baseData.dateOfBirth"
        :rules="['required']"
      />
      <TextInput
        label="placeOfBirth"
        name="baseData.placeOfBirth"
        :rules="['required']"
      />
    </span>
    <span class="grid lg:grid-cols-4">
      <TextInput
        label="numberTravelDocument"
        name="numberTravelDocument"
        :rules="['required']"
      />
      <SelectInput
        label="countryTravelDocument"
        name="countryTravelDocument"
        :options="countryCodes"
        :rules="['required']"
      />
      <DatePickerInput
        label="validUntilTravelDocument"
        name="validUntilTravelDocument"
        :rules="['required']"
      />
    </span>

    <span class="grid lg:grid-cols-2">
      <DatePickerInput label="dateOfArrivalToCz" name="dateOfArrivalToCz" />
      <TextInput
        label="purposeOfStayInCR"
        name="purposeOfStayInCR"
        :rules="['required']"
      />
    </span>
    <span class="grid lg:grid-cols-2">
      <SelectInput
        label="education"
        name="baseData.education"
        :options="education"
        :rules="['required']"
      />
      <TextInput label="occupation" name="baseData.occupation" />
    </span>
    <vue-collapse-group :isShow="[true]">
      <vue-collapse-panel key="residenceInCz">
        <template #title>
          <h3>{{ $t("form.field.residenceInCz") }}</h3>
        </template>
        <template #body>
          <span class="grid lg:grid-cols-5">
            <TextInput
              label="street"
              name="baseData.addressInCZ.street"
              :wrapper-clas="{ 'lg:col-span-2': true }"
              :rules="['required']"
            />
            <TextInput
              label="number"
              name="baseData.addressInCZ.number"
              :rules="['required']"
            />
            <TextInput
              label="town"
              name="baseData.addressInCZ.town"
              :rules="['required']"
            />
            <TextInput
              label="zip"
              name="baseData.addressInCZ.zip"
              :rules="['required']"
            />
          </span>
        </template>
      </vue-collapse-panel>

      <vue-collapse-panel key="residenceCorespondentInCz">
        <template #title>
          <h3>{{ $t("form.field.residenceCorespondentInCz") }}</h3>
        </template>
        <template #body>
          <span class="grid lg:grid-cols-5">
            <TextInput
              label="street"
              name="baseData.addressInCZDelivery.street"
              :wrapper-clas="{ 'lg:col-span-2': true }"
            />
            <TextInput
              label="number"
              name="baseData.addressInCZDelivery.number"
            />
            <TextInput label="town" name="baseData.addressInCZDelivery.town" />
            <TextInput label="zip" name="baseData.addressInCZDelivery.zip" />
          </span>
        </template>
      </vue-collapse-panel>
    </vue-collapse-group>

    <vue-collapse-group>
      <vue-collapse-panel key="employmentBeforeCz">
        <template #title>
          <h3>{{ $t("form.field.employmentBeforeCz") }}</h3>
        </template>
        <template #body>
          <span class="grid lg:grid-cols-4">
            <TextInput
              label="employerName"
              name="employmentBeforeCz.employerName"
            />
            <TextInput label="position" name="employmentBeforeCz.position" />
            <TextInput
              label="street"
              name="employmentBeforeCz.address.street"
            />
            <TextInput
              label="number"
              name="employmentBeforeCz.address.number"
            />
            <TextInput label="town" name="employmentBeforeCz.address.town" />
            <TextInput label="zip" name="employmentBeforeCz.address.zip" />
          </span>
        </template>
      </vue-collapse-panel>
    </vue-collapse-group>
    <vue-collapse-group>
      <vue-collapse-panel key="employmentInCzech">
        <template #title>
          <h3>{{ $t("form.field.employmentInCzech") }}</h3>
        </template>
        <template #body>
          <span class="grid lg:grid-cols-4">
            <TextInput
              label="employerName"
              name="employmentInCzech.employerName"
            />
            <TextInput label="position" name="employmentInCzech.position" />
            <TextInput label="street" name="employmentInCzech.address.street" />
            <TextInput label="number" name="employmentInCzech.address.number" />
            <TextInput label="town" name="employmentInCzech.address.town" />
            <TextInput label="zip" name="employmentInCzech.address.zip" />
          </span>
        </template>
      </vue-collapse-panel>
    </vue-collapse-group>

    <vue-collapse-group>
      <vue-collapse-panel key="lastResidenceBeforeCz">
        <template #title>
          <h3>{{ $t("form.field.lastResidenceBeforeCz") }}</h3>
        </template>
        <template #body>
          <span class="grid lg:grid-cols-3">
            <TextInput label="street" name="lastResidenceBeforeCz.street" />
            <TextInput label="number" name="lastResidenceBeforeCz.number" />
            <TextInput label="town" name="lastResidenceBeforeCz.town" />
            <TextInput label="zip" name="lastResidenceBeforeCz.zip" />
            <SelectInput
              label="state"
              name="lastResidenceBeforeCz.state"
              :options="countryCodes"
            />
          </span>
        </template>
      </vue-collapse-panel>
    </vue-collapse-group>
    <ElementWrapper>
      <h3>{{ $t("form.field.previousStay") }}</h3>
    </ElementWrapper>
    <span class="grid lg:grid-cols-5">
      <DatePickerInput label="previousStayFrom" name="previousStayFrom" />
      <DatePickerInput label="previousStayTo" name="previousStayTo" />
      <TextInput
        label="previousAndPlaceOfStay"
        name="previousAndPlaceOfStay"
        :wrapper-clas="{ 'lg:col-span-3': true }"
      />
    </span>
    <vue-collapse-group>
      <vue-collapse-panel key="spouse">
        <template #title>
          <h3>{{ $t("form.field.spouse") }}</h3>
        </template>
        <template #body>
          <span class="grid lg:grid-cols-2">
            <TextInput label="firstName" name="spouse.firstName" />
            <TextInput label="surname" name="spouse.surname" />
          </span>
          <span class="grid lg:grid-cols-2">
            <TextInput label="otherNames" name="spouse.otherNames" />
            <TextInput label="surnameAtBirth" name="spouse.surnameAtBirth" />
          </span>
          <SelectInput
            label="currentNationally"
            name="spouse.currentNationally"
            :options="countryCodes"
          />

          <span class="grid lg:grid-cols-3">
            <DatePickerInput label="dateOfBirth" name="spouse.dateOfBirth" />
            <TextInput label="placeOfBirth" name="spouse.placeOfBirth" />
            <SelectInput
              label="countryOfBird"
              name="spouse.countryOfBird"
              :options="countryCodes"
            />
          </span>
          <SelectInput
            label="education"
            name="spouse.education"
            :options="education"
          />
          <TextInput label="occupation" name="spouse.occupation" />
          <h3>{{ $t("form.field.residence") }}</h3>

          <span class="grid lg:grid-cols-2">
            <TextInput label="town" name="spouse.residence.town" />
            <TextInput label="street" name="spouse.residence.street" />
          </span>
          <span class="grid lg:grid-cols-5">
            <TextInput label="number" name="spouse.residence.number" />
            <TextInput label="zip" name="spouse.residence.zip" />
            <SelectInput
              label="state"
              name="spouse.residence.state"
              :wrapper-clas="{ 'lg:col-span-3': true }"
              :options="countryCodes"
            />
          </span>
        </template>
      </vue-collapse-panel>
    </vue-collapse-group>
    <vue-collapse-group v-for="val in ['father', 'mother']" :key="val">
      <vue-collapse-panel>
        <template #title>
          <h3>{{ $t(`form.field.${val}`) }}</h3>
        </template>
        <template #body>
          <span class="grid lg:grid-cols-2">
            <TextInput label="firstName" :name="`${val}.firstName`" />
            <TextInput label="surname" :name="`${val}.surname`" />
          </span>
          <TextInput label="otherNames" :name="`${val}.otherNames`" />
          <span class="grid lg:grid-cols-2">
            <SelectInput
              label="currentNationally"
              :name="`${val}.currentNationally`"
              :options="countryCodes"
            />
            <DatePickerInput label="dateOfBirth" :name="`${val}.dateOfBirth`" />
          </span>
          <TextInput label="occupation" :name="`${val}.occupation`" />

          <h3>{{ $t("form.field.residence") }}</h3>

          <span class="grid lg:grid-cols-2">
            <TextInput label="town" :name="`${val}.residence.town`" />
            <TextInput label="street" :name="`${val}.residence.street`" />
          </span>
          <span class="grid lg:grid-cols-3">
            <TextInput label="number" :name="`${val}.residence.number`" />
            <TextInput label="zip" :name="`${val}.residence.zip`" />
            <SelectInput
              label="state"
              :name="`${val}.residence.state`"
              :options="countryCodes"
            />
          </span>
        </template>
      </vue-collapse-panel>
    </vue-collapse-group>

    <TextInput label="additionalInformation" name="additionalInformation" />

    <FieldArray name="brothersAndSisters" v-slot="{ fields, push, remove }">
      <fieldset
        class="InputGroup"
        v-for="(field, idx) in fields"
        :key="field.key"
      >
        <vue-collapse-group>
          <vue-collapse-panel>
            <template #title>
              <h3>
                {{ $t("form.field.brotherOrSister") }}
                <strong>{{ field.value.firstName || "" }}</strong>
              </h3>
            </template>
            <template #body>
              <span class="grid lg:grid-cols-4">
                <TextInput
                  label="firstName"
                  :name="`brothersAndSisters[${idx}].firstName`"
                  :rules="['required']"
                />
                <TextInput
                  label="surname"
                  :name="`brothersAndSisters[${idx}].surname`"
                  :rules="['required']"
                />
                <DatePickerInput
                  label="dateOfBirth"
                  :name="`brothersAndSisters[${idx}].dateOfBirth`"
                  :rules="['required']"
                />
                <SelectInput
                  label="currentNationally"
                  :name="`brothersAndSisters[${idx}].currentNationally`"
                  :options="countryCodes"
                />
              </span>
              <h3>{{ $t("form.field.residenceInCz") }}</h3>
              <span class="grid lg:grid-cols-5">
                <TextInput
                  label="street"
                  :name="`brothersAndSisters[${idx}].addressInCZ.street`"
                  :wrapper-clas="{ 'lg:col-span-2': true }"
                  :rules="['required']"
                />
                <TextInput
                  label="number"
                  :name="`brothersAndSisters[${idx}].addressInCZ.number`"
                  :rules="['required']"
                />
                <TextInput
                  label="town"
                  :name="`brothersAndSisters[${idx}].addressInCZ.town`"
                  :rules="['required']"
                />
                <TextInput
                  label="zip"
                  :name="`brothersAndSisters[${idx}].addressInCZ.zip`"
                  :rules="['required']"
                />
              </span>

              <TextInput
                label="occupation"
                :name="`brothersAndSisters[${idx}].occupation`"
              />
              <ButtonComponent
                color-type="danger"
                :onClickEvent="() => remove(idx)"
                name="remove"
              />
            </template>
          </vue-collapse-panel>
        </vue-collapse-group>
      </fieldset>
      <ButtonComponent
        color-type="success"
        :disabled="fields.value && fields.value.length >= 4"
        :onClickEvent="() => push({ firstName: '' })"
        name="addBrothersAndSisters"
      />
    </FieldArray>

    <FieldArray name="children" v-slot="{ fields, push, remove }">
      <fieldset
        class="InputGroup"
        v-for="(field, idx) in fields"
        :key="field.key"
      >
        <vue-collapse-group>
          <vue-collapse-panel>
            <template #title>
              <h3>
                {{ $t("form.field.children") }}
                <strong>{{ field.value.firstName || "" }}</strong>
              </h3>
            </template>
            <template #body>
              <span class="grid lg:grid-cols-4">
                <TextInput
                  label="firstName"
                  :name="`children[${idx}].firstName`"
                  :rules="['required']"
                />
                <TextInput
                  label="surname"
                  :name="`children[${idx}].surname`"
                  :rules="['required']"
                />
                <DatePickerInput
                  label="dateOfBirth"
                  :name="`children[${idx}].dateOfBirth`"
                  :rules="['required']"
                />
                <SelectInput
                  label="currentNationally"
                  :name="`children[${idx}].currentNationally`"
                  :options="countryCodes"
                />
              </span>
              <h3>{{ $t("form.field.residenceInCz") }}</h3>
              <span class="grid lg:grid-cols-5">
                <TextInput
                  label="street"
                  :name="`children[${idx}].addressInCZ.street`"
                  :wrapper-clas="{ 'lg:col-span-2': true }"
                  :rules="['required']"
                />
                <TextInput
                  label="number"
                  :name="`children[${idx}].addressInCZ.number`"
                  :rules="['required']"
                />
                <TextInput
                  label="town"
                  :name="`children[${idx}].addressInCZ.town`"
                  :rules="['required']"
                />
                <TextInput
                  label="zip"
                  :name="`children[${idx}].addressInCZ.zip`"
                  :rules="['required']"
                />
              </span>

              <TextInput
                label="occupation"
                :name="`children[${idx}].occupation`"
              />
              <ButtonComponent
                color-type="danger"
                :onClickEvent="() => remove(idx)"
                name="remove"
              />
            </template>
          </vue-collapse-panel>
        </vue-collapse-group>
      </fieldset>
      <ButtonComponent
        color-type="success"
        :disabled="fields.value && fields.value.length >= 4"
        :onClickEvent="() => push({ firstName: '' })"
        name="addChildren"
      />
    </FieldArray>

    <ButtonComponent
      :type="'submit'"
      color-type="info"
      :disabled="isSubmitting"
      name="submit"
    />
  </form>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import type UserDataDto from "easy-visa-api/dto/UserDataDto";
import {
  CountryCodes,
  Education,
  FormTypes,
  MaritalStatus,
  Sex,
} from "easy-visa-api/Enums/DataBaseEnums";
import { FieldArray, useForm } from "vee-validate";
import TextInput from "@/components/inputs/TextInput.vue";
import SelectInput from "@/components/inputs/SelectInput.vue";
import DatePickerInput from "@/components/inputs/DatePickerInput.vue";
import ButtonComponent from "@/components/inputs/ButtonComponent.vue";
import { useUserStore } from "@/stores/UserStore";
import { i18nGlobal } from "@/i18n";
import type { ISelectOption } from "@/types/form";
import { errorToast, successToast } from "@/plugins/Toast";
import VueCollapseGroup from "@/components/vueCollaps/VueCollapseGroup.vue";
import VueCollapsePanel from "@/components/vueCollaps/VueCollapsePanel.vue";
import { useRouter } from "vue-router";
import ElementWrapper from "@/components/inputs/ElementWrapper.vue";
import { Routes } from "@/router";
export default defineComponent({
  name: "RegisterForm",
  components: {
    ElementWrapper,
    TextInput,
    SelectInput,
    DatePickerInput,
    ButtonComponent,
    VueCollapseGroup,
    VueCollapsePanel,
    FieldArray,
  },
  props: {
    userId: {
      type: String,
      required: true,
    },
  },
  setup() {
    const store = useUserStore();
    const router = useRouter();

    const { handleSubmit, isSubmitting, setValues } = useForm<UserDataDto>();

    const userId = computed<string | undefined>(() => {
      const id = router.currentRoute.value.params.id;
      return id ? id.toString() : undefined;
    });
    const userData = ref<UserDataDto | null>(null);
    store.getUserData(userId.value).then((_userData) => {
      if (!_userData) return;
      setValues(_userData);
      return (userData.value = _userData);
    });
    const formType = computed<Array<ISelectOption>>(() => {
      return Object.values(FormTypes).map((value: string) => ({
        value: value,
        label: i18nGlobal.t(`enums.formTypes.${value}`),
      }));
    });
    const sexTypes = computed<Array<ISelectOption>>(() => {
      return Object.values(Sex).map((value: string) => {
        return {
          value: value,
          label: i18nGlobal.t(`enums.sexTypes.${value}`),
        };
      });
    });
    const countryCodes = computed<Array<ISelectOption>>(() => {
      return Object.values(CountryCodes).map((value: string) => ({
        value: value,
        label: i18nGlobal.t(`enums.countryCodes.${value}`),
      }));
    });
    const education = computed<Array<ISelectOption>>(() => {
      return Object.values(Education).map((value: string) => ({
        value: value,
        label: i18nGlobal.t(`enums.education.${value}`),
      }));
    });
    const maritalStatus = computed<Array<ISelectOption>>(() => {
      return [
        MaritalStatus.single,
        MaritalStatus.widow,
        MaritalStatus.married,
        MaritalStatus.divorced,
      ].map((value: string) => ({
        value: value,
        label: i18nGlobal.t(`enums.maritalStatus.${value}`),
      }));
    });

    const onSubmit = handleSubmit(async (values: UserDataDto) => {
      try {
        if (await store.putUserData(values)) {
          successToast(i18nGlobal.t("form.message.success.registration"));
          await router.push({
            name: Routes.forms,
            params: { id: userId.value },
          });
        }
      } catch (e) {
        errorToast(e.message);
      }
    });

    return {
      education,
      sexTypes,
      countryCodes,
      maritalStatus,
      formType,
      onSubmit,
      isSubmitting,
    };
  },
});
</script>
