<template>
  <ButtonComponent
    name="print"
    :btn-classes="{ 'h-full': true }"
    :onClickEvent="onPrint"
  >
    <IconPrint class="w-4" />
  </ButtonComponent>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { Forms } from "@/Enums";
import ButtonComponent from "@/components/inputs/ButtonComponent.vue";
import IconPrint from "@/components/icons/IconPrint.vue";
import { useFileStore } from "@/stores/FileStore";
import { PDFApplicationService } from "@/PdfServices/PDFApplicationService";
import { useUserStore } from "@/stores/UserStore";

export default defineComponent({
  name: "PrintBtn",
  components: { IconPrint, ButtonComponent },
  props: {
    userId: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const fileStore = useFileStore();
    const userStore = useUserStore();

    const onPrint = async () => {
      const [userData, file] = await Promise.all([
        userStore.getUserData(props.userId),
        fileStore.getPdfTemplate(Forms.application),
      ]);

      if (!file || !userData) return;
      const pdfApplicationService = new PDFApplicationService(file);
      window.open(
        URL.createObjectURL(
          new Blob([await pdfApplicationService.generateDocument(userData)], {
            type: "application/pdf",
          })
        ) /*+ "#page=3"*/
      );
    };
    return { onPrint };
  },
});
</script>
