<template>
  <div>
    <div class="" v-if="component">
      <component :userId="userId" :is="component"></component>
    </div>
    <div v-else>
      <div class="capitalize-first">{{ $t("pages.forms.listForms") }}</div>
      <div class="flex" v-for="type in Object.values(Forms)" :key="type">
        <ElementWrapper>
          <router-link
            type="button"
            class="h-full relative inline-flex items-center w-full px-4 py-2 bg-white border border-gray-200 rounded-lg rounded-t-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
            :to="{ name: Routes.forms, params: { type, id: userId } }"
          >
            <span class="capitalize-first">
              {{ $t(`enums.formTypes.${type}`) }}
            </span>
          </router-link>
        </ElementWrapper>
        <PrintBtn :userId="userId" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import UserDataForm from "@/modules/application/EditForm.vue";
import { computed, defineComponent } from "vue";
import { useRouter } from "vue-router";
import { Forms } from "@/Enums";
import { Routes } from "@/router";
import ElementWrapper from "@/components/inputs/ElementWrapper.vue";
import PrintBtn from "@/modules/application/PrintBtn.vue";
import { useUserStore } from "@/stores/UserStore";

export default defineComponent({
  name: "HomeView",
  components: { ElementWrapper, PrintBtn },
  setup() {
    const router = useRouter();
    const userStore = useUserStore();
    const type = computed<Forms>(
      () => router.currentRoute.value.params.type as Forms
    );
    const component = computed(() => {
      switch (type.value) {
        case Forms.application:
          return UserDataForm;
      }
      return undefined;
    });

    const userId = computed<string | undefined>(() => {
      const id = router.currentRoute.value.params.id;
      return id ? id.toString() : userStore.userData.id;
    });

    return { userId, router, Forms, Routes, component };
  },
});
</script>
