<template>
  <LoginForm />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import LoginForm from "@/components/forms/LoginForm.vue";
export default defineComponent({
  name: "LoginPage",
  props: {},
  components: {
    LoginForm,
  },
  setup() {
    return {};
  },
});
</script>

<style scoped></style>
