<template>
  <h3 class="text-2xl font-bold text-center">Registration to your account</h3>
  <RegisterForm />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import RegisterForm from "@/components/forms/RegisterForm.vue";
export default defineComponent({
  name: "RegisterPage",
  props: {},
  components: {
    RegisterForm,
  },
  setup() {
    return {};
  },
});
</script>

<style scoped></style>
