<template>
  <UsersList />
</template>
<script lang="ts">
import { defineComponent } from "vue";

import { useRouter } from "vue-router";
import { Routes } from "@/router";
import UsersList from "@/views/Users/UsersList.vue";

export default defineComponent({
  name: "UsersListPage",
  components: { UsersList },
  setup() {
    const router = useRouter();

    return {
      router,
      Routes,
    };
  },
});
</script>
