<template>
  <div
    class="flex justify-between items-center bg-gray-300 pl-4 rounded cursor-pointer"
    @click="onChangeVisible"
  >
    <span class="capitalize-first"><slot name="title" /></span>
    <div class="w-8 py-1 pl-2 border-l flex">
      <button
        type="button"
        class="w-6 h-6 text-gray-600 outline-none focus:outline-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-up w-4 h-4"
          :class="{ 'rotate-180': !isShow }"
        >
          <polyline points="18 15 12 9 6 15"></polyline>
        </svg>
      </button>
    </div>
  </div>
  <div v-show="isShow" v-if="isShow || alwaysRendering" class="px-4 py-1">
    <slot name="body" />
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { debounce } from "lodash";

export default defineComponent({
  name: "VueCollapsePanel",
  components: {},
  emits: ["onChangeVisible"],
  props: {
    alwaysRendering: {
      type: Boolean,
      default: true,
    },
    isShow: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const model = ref(null);

    const onChangeVisible = debounce(() => {
      emit("onChangeVisible", !props.isShow);
    }, 50);
    return { model, onChangeVisible };
  },
});
</script>
