<template>
  <ElementWrapper>
    <div class="flex flex-col border border-gray-200 rounded w-full">
      <div
        class="flex flex-col justify-items-start"
        :class="{ 'border-t-2': index > 0 }"
        v-for="(vueCollapsePanel, index) in vueCollapsePanels"
        :key="index"
      >
        <component
          :is="vueCollapsePanel"
          :is-show="openedPanels[index]"
          @onChangeVisible="changeVisible(index)"
        />
      </div>
    </div>
  </ElementWrapper>
</template>
<script lang="ts">
import { computed, defineComponent, type PropType, ref } from "vue";
import { isArray, isBoolean, map } from "lodash";
import { get } from "lodash";
import ElementWrapper from "@/components/inputs/ElementWrapper.vue";

export default defineComponent({
  name: "VueCollapseGroup",
  components: {
    ElementWrapper,
  },
  props: {
    multipleShow: {
      type: Boolean,
      default: false,
    },
    collapsePanelName: {
      type: String,
      default: "VueCollapsePanel",
    },
    isShow: {
      type: Array as PropType<Array<boolean>>,
      default: undefined,
    },
  },
  setup(props, { slots }) {
    const recursiveFind = (slots: any[]) => {
      let panels: any[] = [];
      if (!isArray(slots)) {
        return [];
      }
      slots.forEach((panel: any) => {
        if (get<any, string>(panel, "type.name") === props.collapsePanelName) {
          panels = [...panels, panel];
        } else {
          panels = [...panels, ...recursiveFind(panel.children)];
        }
      });
      return panels;
    };
    const vueCollapsePanels = computed(() =>
      recursiveFind(slots.default ? slots.default() : [])
    );
    const getIsShow = (vueCollapsePanel: any, index: number): boolean => {
      if (props.isShow !== undefined) {
        if (props.isShow && get(props.isShow, index, false)) {
          return get(props.isShow, index);
        }
      }
      return (
        get(
          vueCollapsePanel,
          "props.is-show",
          vueCollapsePanel.type.props.isShow.default
        ) !== false
      );
    };
    const openedPanels = ref<{ [key: number]: boolean }>(
      (() => {
        let openedPanels: { [key: number]: boolean } = {};
        vueCollapsePanels.value.forEach((panel, index) => {
          openedPanels = { ...openedPanels, [index]: getIsShow(panel, index) };
        });
        return openedPanels;
      })()
    );

    const changeVisible = (index: number) => {
      const oldValue = openedPanels.value[index];
      if (!props.multipleShow) {
        openedPanels.value = map(openedPanels.value, () => false);
      }
      openedPanels.value[index] = !oldValue;
    };
    return { vueCollapsePanels, openedPanels, changeVisible };
  },
});
</script>
