<template>
  <body class="bg-gray-400 font-sans leading-normal tracking-normal">
    <nav
      class="mt-0 fixed w-full z-10 top-0"
      :class="isProduction ? 'bg-gray-800' : 'bg-blue-800'"
    >
      <div class="container mx-auto flex flex-wrap items-center">
        <div
          class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold"
        >
          <span class="text-2xl pl-2 uppercase">
            <i class="em em-grinning"></i>{{ $t("menu.title") }}
          </span>
        </div>
        <div
          class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end"
        >
          <ul
            class="list-reset flex justify-between flex-1 md:flex-none items-center"
          >
            <li class="mr-3" v-if="isUserFirm === false">
              <MenuItem :routeName="Routes.forms" />
            </li>
            <li class="mr-3" v-if="isUserFirm">
              <MenuItem :routeName="Routes.users" />
            </li>
            <li class="mr-3">
              <ButtonComponent
                @click="logout"
                name="logout"
                color-type="danger"
              >
                {{ $t("menu.logout") }}
              </ButtonComponent>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Container-->
    <div
      class="container h-full shadow-lg mx-auto bg-white mt-24 md:mt-16 min-h-90-vh p-3"
    >
      <RouterView />
    </div>
  </body>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeMount } from "vue";
import { useUserStore } from "@/stores/UserStore";
import { i18nGlobal } from "@/i18n";
import { useRouter } from "vue-router";
import { Routes } from "@/router";
import ButtonComponent from "@/components/inputs/ButtonComponent.vue";
import MenuItem from "@/layouts/MenuItem.vue";

export default defineComponent({
  name: "DefaultLayout",
  props: {},
  components: { ButtonComponent, MenuItem },

  setup() {
    const store = useUserStore();
    const router = useRouter();
    const isUserFirm = computed<boolean>(() => store.userData?.isFirm);
    const isProduction = process.env.NODE_ENV === "production";
    const logout = async () => {
      await store.logout();
      await router.push({ name: Routes.login });
    };
    const menu = computed(() => {
      return [
        {
          title: i18nGlobal.t(`router.profile`),
        },
      ];
    });
    const currentRouteName = computed(() => router.currentRoute.value.name);

    return {
      isProduction,
      menu,
      Routes,
      isUserFirm,
      currentRouteName,
      logout,
    };
  },
});
</script>

<style scoped></style>
