<template>
  <router-link
    class="inline-block py-2 px-4 no-underline capitalize-first"
    :class="[
      currentRouteName === routeName
        ? 'text-white'
        : 'text-gray-600 hover:text-gray-200 hover:text-underline',
    ]"
    :to="{ name: routeName }"
  >
    {{ $t(`router.${routeName}`) }}
  </router-link>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "MenuItem",
  props: {
    routeName: {
      type: String,
      required: true,
    },
  },

  setup() {
    const router = useRouter();

    const currentRouteName = computed(() => router.currentRoute.value.name);

    return {
      currentRouteName,
    };
  },
});
</script>

<style scoped></style>
