<template>
  <h3 class="text-2xl font-bold text-center">Login to your account</h3>
  <Form @submit="onSubmit">
    <EmailInput label="email" name="email" type="email" :rules="['required']" />
    <PasswordInput
      v-model="password"
      :rules="['required']"
      label="password"
      name="password"
      type="password"
    />
    <div class="flex justify-between">
      <ButtonComponent :type="'submit'" color-type="success" name="login" />
      <ButtonComponent
        @click="$router.push({ name: routes.register })"
        :type="'button'"
        color-type="info"
        name="registration"
      />
    </div>
  </Form>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import type NewUserDto from "easy-visa-api/dto/NewUserDto";
import { Form } from "vee-validate";
import ButtonComponent from "@/components/inputs/ButtonComponent.vue";
import { useUserStore } from "@/stores/UserStore";
import EmailInput from "@/components/inputs/EmailInput.vue";
import { errorToast, successToast } from "@/plugins/Toast";
import { i18nGlobal } from "@/i18n";
import { useRouter } from "vue-router";
import { Routes } from "@/router";
import { get } from "lodash";
import PasswordInput from "@/components/inputs/PasswordInput.vue";

export default defineComponent({
  name: "LoginForm",
  props: {},
  components: {
    PasswordInput,
    Form,
    ButtonComponent,
    EmailInput,
  },

  setup() {
    const store = useUserStore();
    const router = useRouter();
    const password = ref<string>("");

    const onSubmit = async (values: NewUserDto) => {
      try {
        if (
          await store.loginUser(
            values,
            get(router, "currentRoute.value.params.confirmEmailHash")
          )
        ) {
          successToast(i18nGlobal.t("form.message.success.login"));
          if (store.userData.isFirm) {
            await router.push({ name: Routes.users });
          } else {
            await router.push({ name: Routes.forms });
          }
        }
      } catch (e) {
        errorToast(e.message);
      }
    };
    return {
      password,
      onSubmit,
      routes: Routes,
    };
  },
});
</script>

<style scoped></style>
