<template>
  <Form @submit="onSubmit" v-slot="{ isSubmitting }">
    <EmailInput label="email" name="email" type="email" :rules="['required']" />
    <PasswordInput :rules="['required']" label="password" name="password" />
    <PasswordInput
      :rules="['sameAs:password', 'required']"
      label="repeatPassword"
      name="repeatPassword"
      type="password"
    />

    <CheckBoxInput
      label="registerAsFirm"
      name="isFirm"
      inline
      :checkedValue="true"
      :uncheckedValue="false"
    />

    <div class="flex justify-between">
      <ButtonComponent
        :type="'submit'"
        color-type="success"
        :disabled="isSubmitting"
        name="registration"
      />
      <ButtonComponent
        @click="$router.push({ name: routes.login })"
        :type="'button'"
        color-type="info"
        name="login"
      />
    </div>
  </Form>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import type NewUserDto from "easy-visa-api/dto/NewUserDto";
import { Form } from "vee-validate";
import ButtonComponent from "@/components/inputs/ButtonComponent.vue";
import EmailInput from "@/components/inputs/EmailInput.vue";
import PasswordInput from "@/components/inputs/PasswordInput.vue";
import { useUserStore } from "@/stores/UserStore";
import { i18nGlobal } from "@/i18n";
import { useRouter } from "vue-router";
import { errorToast, successToast } from "@/plugins/Toast";
import { Routes } from "@/router";
import CheckBoxInput from "@/components/inputs/CheckBoxInput.vue";
export default defineComponent({
  name: "RegisterForm",
  props: {},
  components: {
    PasswordInput,
    Form,
    ButtonComponent,
    EmailInput,
    CheckBoxInput,
  },

  setup() {
    const store = useUserStore();
    const router = useRouter();

    const onSubmit = async (values: NewUserDto) => {
      try {
        if (await store.registerUser(values)) {
          successToast(i18nGlobal.t("form.message.success.registration"));
          await router.push({ name: "login" });
        }
      } catch (e) {
        errorToast(e.message);
      }
    };

    return {
      onSubmit,
      routes: Routes,
    };
  },
});
</script>

<style scoped></style>
