<template>
  <ElementWrapper
    class="flex flex-col"
    :class="{ hidden: type === 'hidden', ...wrapperClas }"
  >
    <label class="block capitalize-first" v-if="label">
      {{ $t(`form.field.${label}`) }}
      <span class="text-red-500" v-if="required"> *</span>
    </label>
    <slot :required="required" />
    <span
      class="w-full text-xs tracking-wide text-red-600 capitalize-first"
      v-if="errorMessage && meta.touched"
    >
      {{ errorMessage }}
    </span>
  </ElementWrapper>
</template>

<script lang="ts">
import { computed, defineComponent, type PropType } from "vue";
import { useField } from "vee-validate";
import ElementWrapper from "@/components/inputs/ElementWrapper.vue";
import type rules from "@/vee/Rules";

export const props = {
  name: {
    type: String,
    default: "",
  },
  label: {
    type: String,
    default: "",
  },
  wrapperClas: {
    type: Object,
    default: {},
  },
  type: {
    type: String as PropType<
      | "button"
      | "checkbox"
      | "color"
      | "date"
      | "datetime-local"
      | "email"
      | "file"
      | "hidden"
      | "image"
      | "month"
      | "number"
      | "password"
      | "radio"
      | "range"
      | "reset"
      | "search"
      | "select"
      | "submit"
      | "tel"
      | "text"
      | "time"
      | "url"
      | "week"
    >,
    default: "text",
  },
  rules: {
    type: Array as PropType<Array<keyof typeof rules>>,
    default: () => [],
  },
};

export default defineComponent({
  name: "BaseInput",
  inheritAttrs: false,
  props,
  components: {
    ElementWrapper,
  },
  setup(props) {
    const required = computed(() =>
      props.rules?.some((rule) => rule === "required")
    );

    const { errorMessage, meta } = useField(props.name, props.rules?.join("|"));

    return {
      meta,
      errorMessage,
      required,
    };
  },
});
</script>
