<template>
  <ElementWrapper>
    <button
      :type="type"
      :id="name"
      v-bind="$attrs"
      @click="onClick"
      :class="{
        ['hover:bg-blue-300 text-blue-700 border-blue-300']:
          colorType === 'info',
        ['hover:bg-green-500 text-green-700 border-green-500']:
          colorType === 'success',
        ['hover:bg-red-500 text-red-700 border-red-500']:
          colorType === 'danger',
        ['cursor-pointer']: !computedDisabled,
        ['opacity-50 cursor-not-allowed']: computedDisabled,
        ...{
          'capitalize-first': true,
          'bg-transparent': true,
          'font-semibold': true,
          'hover:text-white': true,
          'py-2': true,
          'px-4': true,
          border: true,
          'hover:border-transparent': true,
          rounded: true,
          ...btnClasses,
        },
      }"
    >
      <slot v-if="label !== null">
        {{ label }}
      </slot>
      <slot v-else>
        {{ $t(`form.field.${name}`) }}
      </slot>
    </button>
  </ElementWrapper>
</template>

<script lang="ts">
import { defineComponent, type PropType, ref, watch } from "vue";
import ElementWrapper from "@/components/inputs/ElementWrapper.vue";

export default defineComponent({
  name: "ButtonComponent",
  components: {
    ElementWrapper,
  },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String as PropType<"submit" | "reset" | "button">,
      default: "button",
    },
    btnClasses: {
      type: Object,
      default: () => ({}),
    },
    colorType: {
      type: String as PropType<"info" | "success" | "danger">,
      default: "info",
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: null,
    },
    onClickEvent: {
      type: Function,
      required: false,
    },
  },
  setup(props) {
    const computedDisabled = ref<boolean>(props.disabled);
    watch(
      () => props.disabled,
      (newValue) => {
        computedDisabled.value = newValue;
      }
    );
    const onClick = async () => {
      if (!props.onClickEvent || computedDisabled.value) {
        return;
      }
      computedDisabled.value = true;
      try {
        await props.onClickEvent();
      } finally {
        computedDisabled.value = false;
      }
    };
    return {
      onClick,
      computedDisabled,
    };
  },
});
</script>
