<template>
  <BaseInput
    :wrapper-clas="wrapperClas"
    :label="inline ? '' : label"
    :rules="rules"
    :name="name"
    v-slot="{ required }"
    type="checkbox"
  >
    <div class="flex">
      <div class="flex items-center h-5">
        <input
          type="checkbox"
          :name="name"
          v-model="value"
          class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
      </div>
      <div class="ml-2 text-sm">
        <label class="block capitalize-first" v-if="label && inline">
          {{ $t(`form.field.${label}`) }}
          <span class="text-red-500" v-if="required"> *</span>
        </label>
      </div>
    </div>
  </BaseInput>
</template>
<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import { useField } from "vee-validate";
import BaseInput from "@/components/inputs/BaseInput.vue";

export default defineComponent({
  name: "CheckBoxInput",
  extends: BaseInput,
  components: {
    BaseInput,
  },
  props: {
    inline: {
      type: Boolean,
      default: false,
    },
    checkedValue: {
      type: [Boolean, String],
      default: true,
    },
    uncheckedValue: {
      type: [Boolean, String],
      default: null,
    },
  },
  setup(props) {
    const { setValue } = useField(props.name, props.rules?.join("|"));
    const value = ref();
    watch(value, (val: boolean) => {
      setValue(val ? props.checkedValue : props.uncheckedValue);
    });
    return { value };
  },
});
</script>
