<template>
  <div v-bind="$attrs" class="p-2">
    <slot />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export const props = {};

export default defineComponent({
  name: "ElementWrapper",
  inheritAttrs: false,
  props,
  setup() {
    return {};
  },
});
</script>
