<template>
  <TextInput
    type="password"
    :label="label"
    v-bind="$attrs"
    :rules="[...rules, 'min:8']"
    :name="name"
    :wrapper-clas="wrapperClas"
  />
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import TextInput from "@/components/inputs/TextInput.vue";
import BaseInput from "@/components/inputs/BaseInput.vue";

export default defineComponent({
  name: "PasswordInput",
  extends: BaseInput,
  components: {
    TextInput,
  },
  setup() {
    const model = ref(null);
    return {
      model,
    };
  },
});
</script>
