<template>
  <BaseInput
    :wrapper-clas="wrapperClas"
    :label="label"
    :rules="rules"
    :name="name"
    type="select"
  >
    <div class="flex-auto py-2 flex flex-col items-center">
      <div
        class="flex w-full flex-col items-center relative"
        v-click-outside="onHide"
      >
        <div
          class="items-center bg-white px-4 py-1 flex border border-gray-200 rounded w-full cursor-pointer"
          @click="onChangeVisible"
        >
          <div class="w-full capitalize-first">
            {{ inputValue }}
          </div>

          <div>
            <button
              type="button"
              class="cursor-pointer w-6 h-full flex items-center text-gray-400 outline-none focus:outline-none"
              @click.stop="onClean"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100%"
                height="100%"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-x w-4 h-4"
              >
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </button>
          </div>
          <div
            @click="onChangeVisible"
            class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200"
          >
            <button
              type="button"
              class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100%"
                height="100%"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-chevron-up w-4 h-4"
                :class="{ 'rotate-180': !isShow }"
              >
                <polyline points="18 15 12 9 6 15"></polyline>
              </svg>
            </button>
          </div>
        </div>
        <div
          v-if="isShow"
          class="absolute top-12 shadow top-100 z-40 w-full lef-0 rounded max-h-select overflow-y-auto max-h-60"
        >
          <div
            class="flex flex-col"
            v-for="option in options"
            :key="option.label"
            @click="onSelect(option)"
          >
            <div
              class="cursor-pointer w-full border-gray-100 rounded-t border-b hover:bg-teal-100"
              style=""
            >
              <div
                class="flex w-full items-center p-2 pl-2 border-transparent bg-white border-l-2 relative hover:bg-teal-600 hover:text-teal-100 hover:border-teal-600"
                :class="{
                  'border-teal-600':
                    selectedOption &&
                    (multiple
                      ? selectedOption.includes(option)
                      : selectedOption.value === option.value),
                }"
              >
                <div class="w-full items-center flex">
                  <div class="mx-2 leading-6 capitalize-first">
                    {{ option.label }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </BaseInput>
</template>
<script lang="ts">
import { computed, defineComponent, type PropType, ref, watch } from "vue";
import BaseInput from "@/components/inputs/BaseInput.vue";
import type { ISelectOption } from "@/types/form";
import { useField } from "vee-validate";
import { isArray, debounce } from "lodash";

export default defineComponent({
  name: "SelectInput",
  extends: BaseInput,
  props: {
    options: {
      type: Array as PropType<Array<ISelectOption>>,
      required: true,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    BaseInput,
  },
  setup(props) {
    const isShow = ref<boolean>(false);

    const { value, setValue } = useField<
      ISelectOption["value"] | Array<ISelectOption["value"]> | null
    >(props.name, props.rules?.join("|"));

    const getFieldValue = () => {
      const fieldValue = props.options.filter((option) => {
        return option.value === value.value;
      });
      return props.multiple ? fieldValue : fieldValue.shift();
    };

    const selectedOption = ref<
      typeof props.options | ISelectOption | undefined
    >(getFieldValue());
    watch(value, () => {
      selectedOption.value = getFieldValue();
    });
    const inputValue = computed<string>(() =>
      selectedOption.value
        ? isArray(selectedOption.value)
          ? selectedOption.value.map((val) => val.label).join(", ")
          : selectedOption.value.label
        : ""
    );

    const onClean = (): void => {
      selectedOption.value = undefined;
      setValue(null);
    };
    const onHide = (): void => {
      isShow.value = false;
    };
    const onChangeVisible = debounce(() => {
      isShow.value = !isShow.value;
    }, 50);
    const onSelect = (option: ISelectOption): void => {
      if (selectedOption.value === option) {
        onClean();
      }
      if (props.multiple) {
        if (!isArray(selectedOption.value)) {
          selectedOption.value = [];
        }
        const index = selectedOption.value.indexOf(option);
        if (index === -1) {
          selectedOption.value.push(option);
        } else {
          selectedOption.value.splice(index, 1);
        }
        setValue(selectedOption.value.map((option) => option.value));
      } else {
        setValue(option.value);
        selectedOption.value = option;
      }

      if (!props.multiple) {
        onHide();
      }
    };

    return {
      isShow,
      selectedOption,
      inputValue,
      onSelect,
      onClean,
      onHide,
      onChangeVisible,
    };
  },
});
</script>
