<template>
  <BaseInput
    :wrapper-clas="wrapperClas"
    :label="label"
    :rules="rules"
    :name="name"
    :type="type"
  >
    <Field
      v-model="model"
      :type="type"
      :label="label"
      :name="name"
      v-bind="$attrs"
      class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
    />
  </BaseInput>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { Field } from "vee-validate";
import BaseInput from "@/components/inputs/BaseInput.vue";

export default defineComponent({
  name: "TextInput",
  extends: BaseInput,
  components: {
    BaseInput,
    Field,
  },
  setup() {
    const model = ref(null);
    return { model };
  },
});
</script>
