<template>
  <!--Hero-->
  <div class="pt-24">
    <div
      class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center"
    >
      <!--Left Col-->
      <div
        class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"
      >
        <h1
          class="my-4 text-3xl sm:text-5xl font-bold leading-tight"
          v-html="$t('landingPage.banner.title')"
        ></h1>
        <p class="leading-normal text-2xl mb-8">
          {{ $t("landingPage.banner.text") }}
        </p>
        <button
          @click="goToRegister"
          class="z-10 mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out capitalize-first"
        >
          {{ $t("landingPage.banner.doIt") }}
        </button>
      </div>
      <!--Right Col-->
      <div class="w-full md:w-3/5 py-6 flex justify-end">
        <img
          class="w-full md:w-4/5"
          src="../views/public/travel_document.webp"
          alt="travel document"
        />
      </div>
    </div>
  </div>
  <div class="relative -mt-12 lg:-mt-24">
    <WaveElement />
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import WaveElement from "@/modules/landingPage/views/public/WaveElement.vue";
import Router, { Routes } from "@/router";
export default defineComponent({
  name: "BannerComponent",
  components: { WaveElement },
  setup() {
    const goToRegister = () => {
      Router.push({ name: Routes.register });
    };

    return { goToRegister };
  },
});
</script>
