<template>
  <!--Footer-->
  <footer ref="componentRef" v-bind="$attrs" class="bg-white">
    <div class="container mx-auto">
      <div class="w-full flex flex-col md:flex-row py-6">
        <div class="flex-1 mb-6 text-black">
          <a
            class="ml-14 md:ml-0 text-yellow-500 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
            href="#"
          >
            <span class="text-pink-600">V</span>isa
            <span class="text-pink-600">I</span>s
            <span class="text-pink-600">S</span>imple
          </a>
        </div>
        <FooterColumn :title="$t('landingPage.footer.autorise')">
          <FooterColumnItem>
            <LinkComponent :menuItem="links.login" />
          </FooterColumnItem>
          <FooterColumnItem>
            <LinkComponent :menuItem="links.register" />
          </FooterColumnItem>
        </FooterColumn>
        <FooterColumn :title="$t('landingPage.footer.contacts')">
          <FooterColumnItem>
            Tel: <a href="tel:+420721202271">+420 721 202 271</a>
          </FooterColumnItem>
          <FooterColumnItem>
            E-mail:
            <a href="mailto:perec.pochta@gmail.com" target="_blank">
              perec.pochta@gmail.com
            </a>
          </FooterColumnItem>
        </FooterColumn>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { watchWhenElementIsInViewport } from "@/helpers/VisualHelper";
import FooterColumn from "@/modules/landingPage/components/footer/FooterColumn.vue";
import FooterColumnItem from "@/modules/landingPage/components/footer/FooterColumnItem.vue";
import LinkComponent from "@/modules/landingPage/components/LinkComponent.vue";
import { i18nGlobal } from "@/i18n";
import { Routes } from "@/router";

export default defineComponent({
  name: "FooterComponent",
  components: { LinkComponent, FooterColumnItem, FooterColumn },
  setup() {
    const componentRef = ref<HTMLElement | null>(null);
    const links = {
      login: {
        label: i18nGlobal.t("form.field.login"),
        link: { name: Routes.login },
      },
      register: {
        label: i18nGlobal.t("form.field.registration"),
        link: { name: Routes.register },
      },
    };
    watchWhenElementIsInViewport(componentRef);
    return { componentRef, links };
  },
});
</script>

<style scoped></style>
