<template>
  <!--Nav-->
  <nav
    id="header"
    class="fixed w-full z-30 top-0 text-white"
    :class="{
      shadow: scrolled || menuIsOpen,
      'bg-white': scrolled || menuIsOpen,
    }"
  >
    <div
      class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2"
    >
      <div class="pl-4 flex items-center">
        <a
          class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl flex"
          :class="[
            ...(scrolled || menuIsOpen ? ['text-gray-800'] : ['text-white']),
          ]"
          href="#"
        >
          <!--          <img src="../views/public/logo.png" class="h-14" />-->
          <span
            :class="
              scrolled || menuIsOpen ? 'text-pink-500' : 'text-yellow-500'
            "
          >
            V</span
          >isa
          <span
            :class="
              scrolled || menuIsOpen ? 'text-pink-500' : 'text-yellow-500'
            "
            >I</span
          >s
          <span
            :class="
              scrolled || menuIsOpen ? 'text-pink-500' : 'text-yellow-500'
            "
            >S</span
          >imple
        </a>
      </div>
      <div class="block lg:hidden pr-4">
        <button
          @click="menuIsOpen = !menuIsOpen"
          class="hamburger hamburger--twist"
          :class="{ active: menuIsOpen }"
          type="button"
        >
          <div class="inner">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </button>
      </div>
      <div
        class="w-full lg:flex lg:items-center lg:w-auto mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
        :class="{
          hidden: !menuIsOpen,
          'bg-gray-100': !scrolled && !menuIsOpen,
          'bg-white': scrolled,
        }"
        id="nav-content"
      >
        <ul
          class="list-reset lg:flex justify-end flex-1 items-center"
          v-for="menuItem in menuItems"
          :key="menuItem.label"
        >
          <li class="mr-3">
            <router-link
              @click="menuIsOpen = false"
              class="inline-block py-2 px-4 hover:pt-1 hover:border-b-2 font-bold no-underline capitalize-first whitespace-nowrap"
              :class="[
                ...(scrolled || menuIsOpen
                  ? ['text-gray-800']
                  : ['text-white']),
                ...[menuItem.isActive ? 'border-b-2' : ''],
              ]"
              :to="menuItem.link"
              >{{ menuItem.label }}</router-link
            >
          </li>
        </ul>
      </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
  </nav>
</template>

<style lang="sass">
@import "delicious-hamburgers/scss/base"
@import "delicious-hamburgers/scss/animations/twist"
</style>
<script lang="ts">
import {
  computed,
  defineComponent,
  onUnmounted,
  type PropType,
  ref,
} from "vue";
import { router, Routes } from "@/router";
import type { MenuItemType } from "@/modules/landingPage/types";
import { map } from "lodash";
import { i18nGlobal } from "@/i18n";

export default defineComponent({
  name: "HeaderComponent",
  props: {
    menuList: {
      type: Array as PropType<Array<MenuItemType>>,
      default: () => [],
    },
  },
  setup(prop) {
    const hash = computed<string>(() => router.currentRoute.value.hash);
    const menuItems = computed<Array<MenuItemType & { isActive: boolean }>>(
      () => {
        return map(
          [
            ...prop.menuList,
            {
              label: i18nGlobal.t("form.field.login"),
              link: { name: Routes.login },
            },
            {
              label: i18nGlobal.t("form.field.registration"),
              link: { name: Routes.register },
            },
          ],
          (route) => {
            return { ...route, isActive: hash.value === route.link };
          }
        );
      }
    );
    const scrolled = ref<boolean>(false);
    const menuIsOpen = ref<boolean>(false);
    const callback = () => (scrolled.value = window.scrollY > 10);
    document.addEventListener("scroll", callback);
    document.addEventListener("resize", callback);
    onUnmounted(() => {
      document.removeEventListener("scroll", callback);
      document.removeEventListener("resize", callback);
    });

    return {
      menuIsOpen,
      menuItems,
      scrolled,
    };
  },
});
</script>
