<template>
  <RouterLink
    :to="menuItem.link"
    class="no-underline hover:underline text-gray-800 hover:text-pink-500"
  >
    {{ menuItem.label }}
  </RouterLink>
</template>

<script lang="ts">
import { defineComponent, type PropType } from "vue";
import type { MenuItemType } from "@/modules/landingPage/types";

export default defineComponent({
  name: "LinkComponent",
  props: {
    menuItem: {
      type: Object as PropType<MenuItemType>,
      required: true,
    },
  },
});
</script>
