<template>
  <a :href="`mailto:${value}`">{{ value }}</a>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import SimpleValue from "@/components/elements/SimpleValue.vue";

export default defineComponent({
  name: "EmailValue",
  extends: SimpleValue,
  components: {},
  props: {},
  setup() {
    return {};
  },
});
</script>
