<template>
  <!-- Modal -->
  <div class="modal-backdrop fade show" v-show="modelValue"></div>
  <div
    class="modal fade fixed top-0 left-0 w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    :class="{
      show: modelValue,
      hidden: !modelValue,
      block: modelValue,
    }"
    ref="modalRef"
    @click="clickOutside"
    aria-modal="true"
    role="dialog"
  >
    <div class="modal-dialog relative w-auto pointer-events-none">
      <div
        class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current"
      >
        <div
          class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md"
        >
          <h5
            class="text-xl font-medium leading-normal text-gray-800 capitalize-first"
          >
            <slot name="title" />
          </h5>
          <button
            type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal"
            @click="close"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body relative p-4"><slot name="body" /></div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md"
        >
          <slot name="footer" />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import BaseInput from "@/components/inputs/BaseInput.vue";

export default defineComponent({
  name: "ModalComponent",
  extends: BaseInput,
  components: {},
  props: {
    modelValue: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:modelValue"],
  setup(props, { emit }) {
    const modalRef = ref();
    const close = () => emit("update:modelValue", false);
    const clickOutside = (event: PointerEvent) => {
      if (event.target === modalRef.value) {
        close();
      }
    };
    return { close, modalRef, clickOutside };
  },
});
</script>
