<template>
  <span>{{ value }}</span>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "SimpleValue",
  components: {},
  props: {
    value: {
      type: null,
      required: true,
    },
    row: {
      type: null,
      required: true,
    },
  },
});
</script>
