<template>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                  v-for="item in fields"
                  :key="item.label"
                >
                  {{ item.label }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100"
                v-for="row in tableConfigurator.items.value"
                :key="row[tableConfigurator.primaryKey]"
              >
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                  v-for="item in fields"
                  :key="`${item}_column`"
                >
                  <component
                    :is="
                      item.displayComponent
                        ? item.displayComponent.component
                        : simpleValue
                    "
                    v-bind="
                      item.displayComponent ? item.displayComponent.attr : null
                    "
                    :value="row[item._key]"
                    :row="row"
                  />
                </td>

                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                  v-for="action in actions"
                  :key="`${action}_action`"
                >
                  <component
                    :is="action.displayComponent.component"
                    v-bind="action.displayComponent.attr"
                    @click.stop="action.displayComponent.click(row)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
import TableConfigurator, {
  type actionType,
  type fieldType,
} from "@/types/TableConfigurator";
import { chain } from "lodash";
import SimpleValue from "@/components/elements/SimpleValue.vue";

export default defineComponent({
  name: "TableComponent",
  components: {},
  props: {
    tableConfigurator: {
      type: TableConfigurator,
      required: true,
    },
  },
  setup(prop) {
    const simpleValue = SimpleValue;
    const fields = computed<fieldType[]>(
      () =>
        chain(prop.tableConfigurator.fields.value)
          .map((value, key) => {
            if (value) {
              value._key = key;
            }
            return value;
          })
          .sortBy(["displayOrder"])
          .value() as fieldType[]
    );
    const actions = computed(() => prop.tableConfigurator.actions.value);
    return { fields, simpleValue, actions };
  },
});
</script>
